@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);

$intro-blue:        rgb(75, 213, 238);
$crawl-yellow:      #ffd54e;

html,
body {
  width: 100vh;
  height: 100vh;
  font: 700 16px "News Cycle", sans-serif;
  letter-spacing: .125rem; // 2px
  color: $crawl-yellow;
  background: #000 url("../img/bg-stars.png") 0 0 repeat;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

.stars {
  animation: stars 4s ease-in-out 93s;
}

.starwars {
  
  section {
    display: flex;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: 1;
  } 

  .overview {
    font-size: 2rem; // 32px
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .start {
    font-size: 2rem; // 32px
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 4;
  }    
  
  .intro {
    font-size: 2rem; // 32px
    font-weight: 400;
    color: $intro-blue;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: intro 6s ease-out 1s;
    z-index: 3;
  }
  
  .logo {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
    svg {
      opacity: 0;
      animation: logo 9s ease-out 9s;
      width: inherit;
    }
  }
  
  .titles {
    $titles-width: 14.65em;
    width: $titles-width;
    margin: 0 auto;
    top: auto;
    bottom: 0;
    height: 50em;
    font-size: 3.5rem; // 56px
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    z-index: 1;
    .title {
      text-align: center;
      text-transform: uppercase;
    }
    > div {
      position: absolute;
      top: 100%;
      animation: titles 81s linear 13s;
      > p {
        margin: 1.35rem 0 1.85rem 0; // 22px 0 30px
        line-height: 1.35;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
    }
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }  
  20% { 
    opacity: 1; 
  }
  90% { 
    opacity: 1; 
  }
  100% { 
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    transform: scale(1);
    opacity: 1; 
  }
  50% { 
    opacity: 1;
  }
  100% { 
    transform: scale(.1);
    opacity: 0;
  }
}

@keyframes titles {
  0% { 
    top: 100%; 
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% { 
    top: 20%; 
    opacity: 0;
  }
}

@keyframes stars {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2400px;
  }
}
